body > header {
    background-color: orange;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
h1 {
    margin: 0px;
    padding: 16px;
    color: cornsilk;
    font
}
body{margin: 0px;}

body > main  article {
    width: 70%;
    margin: auto;
}

h1{
    margin: 0px;
}
ul{margin: 0px;}

body>header>nav>ul{
    list-style: none;
    text-decoration: none;
}
.navbutton {
    color: white;
    text-decoration: none;
    padding: 8px;
    border: 2px,solid,white;
    border-radius: 10%;
}
h2 {
    text-align: center;
}
form{
    text-align: center;
}
img{
    border-radius: 100%;
}
#mainnav {
    display: flex;
    justify-content: space-around;
}
#mainnav>li{
    padding: 8px;
    margin: 16px;
}
body > footer {
    background-color: orange;
    display: flex;
}
#footerul{
    display: flex;
    list-style: none;
}
#footerul > div > li >a {
    margin-left: 12px;
    color: white;
    text-decoration: none;
}
#Maincontent{
    display: flex;
}